<h1 mat-dialog-title *ngIf="data.title !== ''">
  {{ data.title }}
  <ion-icon name="trash-outline" *ngIf="data.rep" (click)="deleteRep()"></ion-icon>
</h1>
<div mat-dialog-content>
  <form class="rep-infos" [formGroup]="exerciseTrainingForm">
    <ion-input type="number"
               label="{{'PAGES.TRAINING.EXERCISES.REP.NB_REPS' | translate}}"
               labelPlacement="floating"
               formControlName="reps">
    </ion-input>
    <ion-input type="number"
               label="{{'PAGES.TRAINING.EXERCISES.REP.WEIGHT' | translate}}"
               labelPlacement="floating"
               formControlName="weight">
    </ion-input>
    <ion-input type="number"
               label="{{'PAGES.TRAINING.EXERCISES.REP.TIME' | translate}}"
               labelPlacement="floating"
               formControlName="time">
    </ion-input>
    <ion-input type="number"
               label="{{'PAGES.TRAINING.EXERCISES.REP.DISTANCE' | translate}}"
               labelPlacement="floating"
               formControlName="distance">
    </ion-input>
    <ion-input type="number"
               label="{{'PAGES.TRAINING.EXERCISES.REP.KCAL' | translate}}"
               labelPlacement="floating"
               formControlName="kcal">
    </ion-input>
  </form>
</div>
<div class="alert-button-group sc-ion-alert-md">
  <ion-button fill="clear" (click)="onNoClick()">{{ 'CONFIRM.BUTTON.CANCEL' | translate }}</ion-button>
  <ion-button fill="clear" *ngIf="!data.rep"(click)="validateNewRep()">{{ 'CONFIRM.BUTTON.OK' | translate }}</ion-button>
  <ion-button fill="clear" *ngIf="data.rep" (click)="updateRep()">{{ 'CONFIRM.BUTTON.UPDATE' | translate }}</ion-button>
</div>
