@import 'src/theme/styles.scss';

h1 {
  text-align: center;
  font-weight: bold;
}

mat-form-field{
  width: 40%;
  margin-right: 20px;

  input{
    @extend .text;
    font-weight: bold;
    color: var(--ion-color-secondary-bg);
  }

  mat-label {
    color: var(--ion-color-secondary-bg);
  }
}

.alert-button-group.sc-ion-alert-md {
  display: flex;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
