<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        <form [formGroup]="trainingForm">
          <ion-input formControlName="title" (ionBlur)="updateTraining(typeOfUpdate.NAME, $event.target.value)">
          </ion-input>
        </form>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="trainingForm">

          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" formControlName="date" (ionChange)="updateTraining(typeOfUpdate.DATE, $event.detail.value)"></ion-datetime>
            </ng-template>
          </ion-modal>
          <div class="optional-params">
            <ion-input type="text"
                       label="{{'PAGES.TRAINING.WEIGHT' | translate}}"
                       labelPlacement="floating"
                       formControlName="weight"
                       (ionBlur)="updateTraining(typeOfUpdate.WEIGHT, $event.target.value)">
            </ion-input>
            <ion-input type="text"
                       label="{{'PAGES.TRAINING.PCT_MUSCLE' | translate}}"
                       labelPlacement="floating"
                       formControlName="pct_muscle"
                       (ionBlur)="updateTraining(typeOfUpdate.PCT_MUSCLE, $event.target.value)">
            </ion-input>
            <ion-input type="text"
                       label="{{'PAGES.TRAINING.PCT_FAT' | translate}}"
                       labelPlacement="floating"
                       formControlName="pct_fat"
                       (ionKeyup)="debouncer.next({type: typeOfUpdate.PCT_FAT, val: $event.target.value})">
            </ion-input>

          </div>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'PAGES.TRAINING.EXERCISES.TITLE' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="trainingForm" class="exercises-form">
          <ion-select
            class="select-exercise"
            labelPlacement="floating"
            interface="action-sheet"
            formControlName="exercise"
            label="{{ 'PAGES.TRAINING.EXERCISES.ADD' | translate }}"
          >
            <ion-select-option *ngFor="let exercise of exerciseList$ | async"
                               [value]="exercise.id"
                               [disabled]="isAlreadyInTraining(exercise.id)">
              {{exercise.title}}
            </ion-select-option>
          </ion-select>
        </form>
        <div cdkDropList (cdkDropListDropped)="exerciseDrop($event)">
          <div cdkDrag
               *ngFor="let exercise of trainingData?.exercises">
            <app-training-exercise
              [exercise]="exercise"
              [selected]="exercise.exerciseId === currentExercise"
              (repAdded)="validateNewRep($event)"
              (repUpdated)="updateRep($event)"
              (exerciseDeleted)="deleteExercise($event)"
              (sendExpanded)="updateSelectedExercise($event, exercise)"
            ></app-training-exercise>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content> 
