.optional-params{
  display: flex;
}

.form-date-exercise, .form-hour-exercise {
  width: 50%;
  padding: 10px;
}

.form-weight, .form-pct-muscle, .form-pct-fat {
  width: 33%;
  padding: 10px;
}

.exercises-form {
  margin-top: -20px;

  .exercises-title{
    font-weight: bold;
  }

  .exercises-list-select{
    padding: 0px 20px;

    .mat-form-field-infix {
      border-top: none !important;
    }
  }
}


