.button-add {
    position: fixed;
    right: 21px;
    bottom: -10px;
    color: var(--ion-color-primary);
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.button-map{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--map-button);
}
