<ion-header>
    <ion-toolbar>
      <ion-title>
        {{'PAGES.TRAINING_LIST.TITLE' | translate}} ({{(trainingList$ | async)?.length}})
        <ion-icon name="add-circle-outline" class="button-add" (click)="openAddTraining()"></ion-icon>
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngIf="newTrainingCreating">
      <form (ngSubmit)="addTraining()" novalidate>
        <ion-input type="text"
                   autofocus
                   label="{{'PAGES.TRAINING_LIST.NEW_TRAINING' | translate}}"
                   labelPlacement="floating"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="newTrainingValue"
                   [clearInput]="true"></ion-input>
      </form>
    </ion-item>
    <app-list-item
      *ngFor="let training of trainingList$ | async"
      [item]="{title: training.title, id: training.id}"
      (deleteItemId)="deleteTraining($event)"
      (selectItemId)="goToTraining($event)"
      (duplicateItem)="duplicateTraining(training)"
    >
    </app-list-item>
  </ion-list>

   <!-- <mat-icon class="button-map" routerLink="/map">gps_fixed</mat-icon> -->
</ion-content>
