<ion-header>
    <ion-toolbar>
      <ion-title>
        {{'PAGE.TRAINING-LIST' | translate}} ({{(trainingList$ | async).length}})
        <mat-icon class="button-add" (click)="openAddTraining()">add_circle</mat-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <mat-list>
      <app-training-list-item 
        *ngFor="let training of trainingList$ | async" 
        [training]="training"
        (deleteTrainingId)="deleteTraining($event)">
      </app-training-list-item>
    </mat-list>
  
    <form (ngSubmit)="addTraining()" novalidate>
      <mat-form-field class="example-form-field" *ngIf="newTrainingCreating">
          <input matInput type="text" autofocus
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="newTrainingValue">
          <button mat-button *ngIf="value" matSuffix mat-icon-button 
            aria-label="Clear" 
            (click)="clearNewValue()">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
    </form>
    <mat-icon class="button-map" routerLink="/map">gps_fixed</mat-icon>
  </ion-content>  