.button-add {
    position: fixed;
    right: 49px;
    bottom: 8px;
    color: var(--ion-color-primary);
    font-size: 40px;
}

.button-map{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--map-button);
}