@import '../../../../../global.scss';

.header {
  padding: 32px 24px 24px 24px;
  background: linear-gradient(#FC3C0F, #FF4A00);
  border-bottom-left-radius: 75% 25%;
  border-bottom-right-radius: 75% 25%;

  .title{
    @extend .header-txt;
    padding-top: 8px;
    margin: 0;
    color: #fff;
    font-size: 25px;
    padding-bottom:15px;
  }
}

ion-item {
  margin: 0 !important;
}

.password_toggle {
  padding-right: 25px;
  padding-top: 20px;
}

ion-text {
  font-size: 1.467rem;

  &.error {
    font-size: 0.8rem;
    color: red;
  }
}

.error-message {
  padding-top: 6px;
  padding-bottom: 0px;
}

ion-item {
  margin: 82px 16px 0 16px;
  border-radius: 25px;

  &.error {
    border: solid 1px red;
  }

  ion-button {
    --background: transparent;
  }

  ion-icon {
    font-size: 22px;
    color: grey;
  }
}

.no-background-onclick {
  --background-activated: transparent;
}

ion-button {
  height: 48px;
  color: white;
}

.no-register {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.bottom-container {
  @extend .container;
  display: flex;
  flex-direction: column;
  @media screen and (max-height: 700px) {
    height: calc(100vh - 341px);
  }

  @media screen and (min-height: 700px) {
    height: calc(100vh - 424px - var(--safe-area-inset-bottom))
  }
}

.subscribe-text {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: center;
  font-size: 15px;
}


.connect-spacing {
  margin: 16px;
}
