<ion-content data-cy="login-container">
  <div class="header">
    <span class="title" innerHTML="{{ 'PAGES.USER.LOGIN.HEADER.TITLE' | translate }}"></span>
  </div>
  <div class="container">
    <ion-list lines="none">
      <ion-item>
        <ion-input type="text"
                   class="example-full-width"
                   label="{{'PAGES.USER.LOGIN.EMAIL_LABEL' | translate}}"
                   labelPlacement="floating"
                   data-cy="login-input"
                   [formControl]="login">
        </ion-input>
        <div
          class="w100 text-right ion-padding error-message"
          *ngIf="((!login.valid && login.touched && login.value) || invalidCredential) && displayErrors"
        >
          <ion-text class="error" *ngIf="!login.valid && login.touched && login.value && !invalidCredential">
            {{ 'PAGES.USER.LOGIN.INVALID_EMAIL' | translate }}</ion-text>

          <ion-text class="error" *ngIf="invalidCredential">
            {{ 'PAGES.USER.LOGIN.INVALID_CREDENTIAL' | translate }}</ion-text>
        </div>
      </ion-item>
      <ion-item>
        <ion-input [type]="passwordType"
                   class="example-full-width"
                   label="{{'PAGES.USER.LOGIN.PASSWORD_LABEL' | translate}}"
                   labelPlacement="floating"
                   [formControl]="password">
        </ion-input>
        <ion-icon [name]="isPassVisible ? 'eye-off-outline': 'eye-outline'" class="password_toggle" (click)="togglePassVisible()"></ion-icon>
      </ion-item>
    </ion-list>
    <a class="d-block" routerLink="/user/password/lost" routerLinkActive="active">{{ 'PAGES.USER.LOGIN.LOST_PASSWORD' | translate }}</a>
    <ion-button
      class="connect-spacing bold"
      color="primary"
      expand="block"
      type="submit"
      [disabled]="!login.valid || !password.value"
      (click)="connectUser()"
    >
      {{ 'PAGES.USER.LOGIN.BUTTONS.CONNECT' | translate }}
    </ion-button>
    <ion-button
      *ngIf="canConnectWithFingerprint"
      (click)="connectWithFingerPrint()"
    >
      {{ 'PAGES.USER.LOGIN.BUTTONS.CONNECT_WITH_FINGERPRINT' | translate }}
    </ion-button>
  </div>
  <div class="bottom-container">
    <div class="w100 subscribe">
      <ion-button class="connect-spacing bold " color="primary" expand="block" (click)="openRegistrationPage()">
        {{ 'PAGES.USER.LOGIN.BUTTONS.SUBSCRIBE' | translate }}
      </ion-button>
    </div>
  </div>
    
</ion-content>
