@font-face {
  font-family: Noto-sans;
  src: url(NotoSans-Regular.ttf);
}

@font-face {
  font-family: Noto-sans-semi-condensed-bold;
  src: url(NotoSans-SemiCondensedBold.ttf);
}

@font-face {
  font-family: Noto-sans-bold;
  src: url(NotoSans-Bold.ttf);
}
