<ion-item mat-ripple *ngIf="item" (click)="selectItem(item.id)">
  <ion-label mat-line>{{ item.title }}</ion-label>
  <div>
    <ion-icon name="duplicate-outline" (click)="duplicateTraining(item.id, $event)"></ion-icon>
    <ion-icon name="trash-outline" (click)="deleteTraining(item.id, $event)"></ion-icon>
  </div>
</ion-item>
