<ion-content>
  <div class="header">
    <span class="title" innerHTML="{{ 'PAGES.USER.LOGIN.HEADER.TITLE' | translate }}"></span>
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Adresse mail</mat-label>
    <input matInput [formControl]="email" type="text" placeholder="{{ 'PAGES.USER.LOGIN.EMAIL_PLACEHOLDER'  | translate }}">
  </mat-form-field>
  <div
    class="w100 text-right ion-padding error-message"
    *ngIf="((!email.valid && email.touched && email.value) || invalidCredential) && displayErrors"
  >
    <ion-text class="error" *ngIf="!email.valid && email.touched && email.value">
      {{ 'PAGES.USER.LOGIN.INVALID_EMAIL' | translate }}Text</ion-text>
  </div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput [formControl]="login" type="text" placeholder="{{ 'PAGES.USER.LOGIN.EMAIL_PLACEHOLDER'  | translate }}">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput [formControl]="password" type="text" placeholder="{{ 'PAGES.USER.LOGIN.EMAIL_PLACEHOLDER'  | translate }}">
    <mat-icon matSuffix (click)="togglePassVisible()">{{isPassVisible ? 'visibility_off': 'visibility'}}</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Répéter le mot de passe</mat-label>
    <input matInput [formControl]="repeat_password" [type]="isPassVisible ? 'text' : 'password'" placeholder="{{ 'PAGES.USER.LOGIN.EMAIL_PLACEHOLDER'  | translate }}">
  </mat-form-field>
  <ion-button
    class="connect-spacing bold"
    color="primary"
    expand="block"
    [disabled]="!email.valid || !password.valid || !passEquals()"
    (click)="createAccount()"
  >
    {{ 'PAGES.USER.LOGIN.BUTTONS.CREATE' | translate }}
  </ion-button>
</ion-content>
