// Ionic Variables and Theming. For more info, please see:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
/*
  Documentation:
  https://ionicframework.com/docs/theming/advanced#application-variables
*/

:root {
  --ion-font-family: 'NotoSans-regular'; // See: src/app/theme/fonts.scss
  --title-font-family: 'NotoSans-Bold';

  --ion-color-selected: #FF4444;

  /** primary (couleur jaune-ulys de la palette de couleur zeplin) **/
  --ion-color-primary-bg: #000000;
  --ion-color-primary-text: #FFFFFF;
  --ion-color-primary-rgb: 252,195,15;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #deac0d;
  --ion-color-primary-tint: #fcc927;

  /** secondary (couleur orange-yellow de la palette de couleur zeplin) **/
  --ion-color-secondary-bg: #FF0000;
  --ion-color-secondary-text: #FFFFFF;
  --ion-color-secondary-rgb: 255,164,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e09000;
  --ion-color-secondary-tint: #ffad1a;

  /** secondary (couleur orange-yellow de la palette de couleur zeplin) **/
  --ion-color-selection-bg: #FF0000;
  --ion-color-selection-text: #FF0000;
  --ion-color-selection-rgb: 255,164,0;
  --ion-color-selection-contrast: #000000;
  --ion-color-selection-contrast-rgb: 0,0,0;
  --ion-color-selection-shade: #e09000;
  --ion-color-selection-tint: #ffad1a;

  /** success (couleur seaweed de la palette de couleur zeplin) **/
  --ion-color-success: #17cd95;
  --ion-color-success-rgb: 23,205,149;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #14b483;
  --ion-color-success-tint: #2ed2a0;

  /** warning (couleur orange de la palette de couleur zeplin)**/
  --ion-color-warning: #ee760c;
  --ion-color-warning-rgb: 238,118,12;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d1680b;
  --ion-color-warning-tint: #f08424;

  /** danger (couleur grapefruit de la palette de couleur zeplin) **/
  --ion-color-danger: #ff5555;
  --ion-color-danger-rgb: 255,85,85;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e04b4b;
  --ion-color-danger-tint: #ff6666;

  /** dark (couleur dark-grey-blue de la palette de couleur zeplin) **/
  --ion-color-dark: #34495e;
  --ion-color-dark-rgb: 52,73,94;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #2e4053;
  --ion-color-dark-tint: #485b6e;

  /** medium-dark (couleur blue-grey de la palette de couleur zeplin) **/
  --ion-color-medium-dark: #828c9b;
  --ion-color-medium-dark-rgb: 130,140,155;
  --ion-color-medium-dark-contrast: #000000;
  --ion-color-medium-dark-contrast-rgb: 0,0,0;
  --ion-color-medium-dark-shade: #727b88;
  --ion-color-medium-dark-tint: #8f98a5;

  /** medium (couleur light-blue-grey-two la palette de couleur zeplin) **/
  --ion-color-medium: #d1d5da;
  --ion-color-medium-rgb: 209,213,218;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #b8bbc0;
  --ion-color-medium-tint: #d6d9de;

  /** light-medium (couleur ice-blue de la palette de couleur zeplin)  **/
  --ion-color-light-medium: #edeff2;
  --ion-color-light-medium-rgb: 237,239,242;
  --ion-color-light-medium-contrast: #000000;
  --ion-color-light-medium-contrast-rgb: 0,0,0;
  --ion-color-light-medium-shade: #d1d2d5;
  --ion-color-light-medium-tint: #eff1f3;

  /** light (couleur ice-blue-two de la palette de couleur zeplin)  **/
  --ion-color-light: #eff1f3;
  --ion-color-light-rgb: 239,241,243;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d2d4d6;
  --ion-color-light-tint: #f1f2f4;


  // Height of the Ionic tab bar in ios mode
  --ion-tab-bar-height: 50px;

  /**
    NOTES (2019-10-14):
    Ionic uses the following declaration on .ion-age :
    .ion-page {
      // ...
      contain: layout size style
    }
    Unfortunately, "contain" is not supported by Safari (2019-10-14).
  */
  --ion-tab-bar-height-offset: 0px;
  @supports not (contain: layout) {
    --ion-tab-bar-height-offset: var(--ion-tab-bar-height);
  }

  --ion-color-bg: #f8f8f8;
  --ion-color-skeleton: #E6E8EB ;
  --ion-color-skeleton-light:#F2F2F2;
}

.ion-color-light-medium {
  --ion-color-base: #d1d5da;
  --ion-color-base-rgb: 209,213,218;
  --ion-color-base-contrast: #000000;
  --ion-color-base-contrast-rgb: 0,0,0;
  --ion-color-base-shade: #b8bbc0;
  --ion-color-base-tint: #d6d9de;
}

.ion-color-medium-dark {
  --ion-color-base: #6f7d8f;
  --ion-color-base-rgb: 111,125,143;
  --ion-color-base-contrast: #ffffff;
  --ion-color-base-contrast-rgb: 255,255,255;
  --ion-color-base-shade: #626e7e;
  --ion-color-base-tint: #7d8a9a;
}



