@import '../assets/fonts/NotoSans/NotoSans.scss';
@import 'ionic-theme';

.noto-sans {
  font-family: Noto-sans, Arial !important;
}

.noto-sans-semi-condensed-bold {
  font-family: Noto-sans-semi-condensed-bold, "Arial Black";
}

.noto-sans-bold {
  font-family: Noto-sans-bold, Arial !important;
}

.header-txt {
  @extend .noto-sans-semi-condensed-bold;
  font-size: 20px;
}

.title {
  @extend .noto-sans;
  font-size: 20px;
  font-weight: bold;
}

.sub-title {
  @extend .noto-sans;
  font-weight: bold;
}

.text {
  @extend .noto-sans;
  font-size: 16px;
}

.text-bold {
  @extend .noto-sans-bold;
  font-size: 16px;
}

.caption {
  @extend .noto-sans;
  font-size: 14px;
}

.d-block {
  display: block;
}

.container {
  padding: 20px;
}

