@use '@angular/material' as mat;
//
// @include mat.core();

@import 'styles.scss';
@import 'ionic-theme.scss';

@import '@angular/material/theming';

* {
  @extend .noto-sans;
}

ion-title {
  @extend .header-txt;
}

ion-item, span, td {
  @extend .text;
}

mat-form-field {
  @extend .text;
}

mat-expansion-panel {
  box-shadow: none !important;

  .mat-expansion-panel-header{
    height: auto;

    &.mat-expanded {
      height: inherit;
    }
  }

  .mat-expansion-panel-body {
    padding: 0 24px;
  }
}

.mat-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
}

ion-card {
  margin: 12px;
  background-color: var(--ion-color-secondary-text);
  color: var(--ion-color-selection-text);
}

ion-icon {
  font-size: 20px;
}

.mat-form-field-label {
  color: var(--ion-color-primary-text);
}

.mat-option-text{
  color: var(--ion-color-selection-text);
  --color: var(--ion-color-selection-text);
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color:var(--ion-color-primary-text);
  opacity: 0.42;
}

.mat-select-arrow, .mat-select-value, .mat-form-field-appearance-outline .mat-form-field-outline, .mat-expansion-indicator::after {
  color: var(--ion-color-primary-text);
}

.mat-expansion-panel {
  background: transparent;
}

ion-toolbar {
  --color: var(--ion-color-secondary-text);
  --background: var(--ion-color-secondary-bg);
}

ion-content {
  --color: var(--ion-color-primary-bg);
  --background: var(--ion-color-primary-text);
}

$mat-button: (
        primary: (
                100: var(--ion-color-primary-bg),
                500: var(--ion-color-primary-bg),
                700: var(--ion-color-primary-bg),
                contrast: (
                        100: var(--ion-color-primary-text),
                        500: var(--ion-color-primary-text),
                        700: var(--ion-color-primary-text),
                ),
        ),
        secondary: (
                50: var(--ion-color-secondary-bg),
                100: var(--ion-color-secondary-bg),
                500: var(--ion-color-secondary-bg),
                700: var(--ion-color-secondary-bg),
                800: var(--ion-color-secondary-bg),
                contrast: (
                        50: var(--ion-color-primary-text),
                        100: var(--ion-color-primary-text),
                        500: var(--ion-color-primary-text),
                        700: var(--ion-color-primary-text),
                        800: var(--ion-color-primary-text),
                ),
        ),
);

/*$app-primary: mat.define-palette(map-get($mat-button, primary), 500, 100, 700);
$app-accent: mat.define-palette(map-get($mat-button, secondary), 500, 50, 800);
$app-theme: mat.define-light-theme($app-primary, $app-accent);*/



