<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span class="title" innerHTML="{{ 'PAGES.USER.PASSWORD.CHANGE_PASSWORD.HEADER.TITLE' | translate }}"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-list lines="none">
      <ion-item>
        <ion-input [type]="passwordType"
                   class="example-full-width"
                   label="{{'PAGES.USER.PASSWORD.CHANGE_PASSWORD.PASSWORD' | translate}}"
                   labelPlacement="floating"
                   [formControl]="password">
        </ion-input>
        <ion-icon [name]="isPassVisible ? 'eye-off-outline': 'eye-outline'" class="password_toggle" (click)="togglePassVisible()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [type]="passwordType"
               class="example-full-width"
               label="{{'PAGES.USER.PASSWORD.CHANGE_PASSWORD.REPASSWORD' | translate}}"
               labelPlacement="floating"
               [formControl]="newPassword">
        </ion-input>
        <ion-icon [name]="isPassVisible ? 'eye-off-outline': 'eye-outline'" class="password_toggle" (click)="togglePassVisible()"></ion-icon>
      </ion-item>
    </ion-list>
    <div
      class="w100 text-right ion-padding error-message"
      *ngIf="!password.valid || newPassword.value !== password.value"
    >
      <ion-text class="error" *ngIf="password.valid && newPassword.value !== password.value">
        {{ 'PAGES.USER.PASSWORD.CHANGE_PASSWORD.NOT_IDENTICAL' | translate }}
      </ion-text>
      <ion-text class="error" *ngIf="!password.valid">
        {{ 'PAGES.USER.PASSWORD.CHANGE_PASSWORD.NOT_STRONG_ENOUGH' | translate }}
      </ion-text>
    </div>

    <ion-button
      class="connect-spacing bold"
      color="primary"
      expand="block"
      [disabled]="!(newPassword.value === password.value && password.valid)"
      (click)="changePassword()"
    >
      {{ 'PAGES.USER.PASSWORD.BUTTONS.CHANGE_PASSWORD' | translate }}
    </ion-button>
  </div>
</ion-content>
