@import '../../../../../../global.scss';

ion-text {
  font-size: 1.467rem;

  &.error {
    font-size: 0.8rem;
    color: red;
  }
}

.error-message {
  padding-top: 6px;
  padding-bottom: 0px;
}

.password_toggle {
  padding-right: 25px;
  padding-top: 20px;
}

ion-item {
  margin: 0 !important;

  &.error {
    border: solid 1px red;
  }

  ion-button {
    --background: transparent;
  }

  ion-icon {
    font-size: 22px;
    color: grey;
  }
}

.no-background-onclick {
  --background-activated: transparent;
}

ion-button {
  height: 48px;
  color: white;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  @media screen and (max-height: 700px) {
    height: calc(100vh - 341px);
  }

  @media screen and (min-height: 700px) {
    height: calc(100vh - 424px - var(--safe-area-inset-bottom))
  }
}
