.select-exercise {
  margin: 20px;
  width: auto;
}

.progress-chart {
  width: 200px;
  height: 200px;
  display: block;
}

.legend-chart {
  color: #FFFFFF;
}

.highcharts-credits {
  display: none;
}
