<ion-header>
  <ion-toolbar>
    <ion-title>progression</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select
    class="select-exercise"
    labelPlacement="floating"
    interface="action-sheet"
    (ionChange)="changeExercice($event.detail.value)"
    label="{{ 'PAGES.PROGRESSION.EXERCISE_VIEW' | translate }}"
  >
    <ion-select-option *ngFor="let exercise of exerciseList$ | async"
                       [value]="exercise.id">
      {{exercise.title}}
    </ion-select-option>
  </ion-select>
  <ion-card>
    <div *ngIf="displayChart"
         [style.width.px]="chartWidth"
         style="height:400px;">
      <highcharts-chart
        [Highcharts]="_Highcharts"
        [options]="chartOptions"
        [(update)]="updateFromInput"
        [oneToOne]="true"
      >
      </highcharts-chart>
    </div>
  </ion-card>

</ion-content>
