<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span class="title" innerHTML="{{ 'PAGES.USER.PASSWORD.RESET.HEADER.TITLE' | translate }}"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-input type="text"
               class="example-full-width"
               label="{{'PAGES.USER.PASSWORD.RESET.EMAIL_LABEL' | translate}}"
               labelPlacement="floating"
               [(ngModel)]="email">
    </ion-input>
    <ion-button
      class="connect-spacing bold"
      color="primary"
      expand="block"
      [disabled]="!isEmail(email)"
      (click)="resetPassword()"
    >
      {{ 'PAGES.USER.PASSWORD.BUTTONS.SEND_CODE' | translate }}
    </ion-button>
  </div>
</ion-content>
