<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        <form [formGroup]="exerciseForm">
          <input matInput formControlName="title"
                 (blur)="updateExercise(typeOfUpdate.NAME, $event.target.value)"
          />
        </form>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  </ion-content>
