<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'PAGES.EXERCICE_LIST.TITLE' | translate}} ({{(exerciseList$ | async)?.length}})
      <ion-icon name="add-circle-outline" class="button-add" (click)="openAddExercise()"></ion-icon>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-list>
    <ion-item *ngIf="newExerciseCreating">
      <form (ngSubmit)="addExercise()" novalidate>
        <ion-input type="text"
                   autofocus
                   label="{{'PAGES.EXERCISE_LIST.NEW_EXERCISE' | translate}}"
                   labelPlacement="floating"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="newExerciseValue"
                   [clearInput]="true"></ion-input>
      </form>
    </ion-item>
    <app-list-item
      *ngFor="let exercise of exerciseList$ | async"
      [item]="{title: exercise.title, id: exercise.id}"
      (deleteItemId)="deleteExercise($event)"
      (selectItemId)="goToExercise($event)"
    >
    </app-list-item>
  </ion-list>
</ion-content>
