<mat-expansion-panel
        *ngIf="exercise"
        [class.selected]="selected"
        [hideToggle]="!exercise.reps"
        [expanded]="expanded"
        (opened)="sendExpandedValue(true)"
        (closed)="sendExpandedValue(false)"
>
  <mat-expansion-panel-header [class.selected]="selected">
    <mat-panel-title class="training-exercise-title">
      <span> {{ exercise.exerciseLabel }}</span>
      <div class="exercise-buttons" *ngIf="exercise">
        <ion-icon name="add-circle-outline" (click)="displayNewRepModal()"></ion-icon>
        <ion-icon name="trash-outline" (click)="deleteExercise()"></ion-icon>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="exercises">
    <form class="rep-infos">
      <div class="header" *ngIf="exercise.reps && !state.newRep.add">
          <div><span>{{ 'PAGES.TRAINING.EXERCISES.REP.NB_REPS' | translate }}</span></div>
          <div><span>{{ 'PAGES.TRAINING.EXERCISES.REP.WEIGHT' | translate }}</span></div>
          <div><span>{{ 'PAGES.TRAINING.EXERCISES.REP.TIME' | translate }}</span></div>
          <div><span>{{ 'PAGES.TRAINING.EXERCISES.REP.DISTANCE' | translate }}</span></div>
          <div><span>{{ 'PAGES.TRAINING.EXERCISES.REP.KCAL' | translate }}</span></div>
      </div>
      <div class="infos" *ngFor="let rep of exercise.reps; let ind=index" (click)="openRepModal(ind)">
        <div><span>{{ rep.reps }}</span></div>
        <div><span>{{ rep.weight }}</span></div>
        <div><span>{{ rep.time }}</span></div>
        <div><span>{{ rep.distance }}</span></div>
        <div><span>{{ rep.kcal }}</span></div>
      </div>
    </form>
  </div>
</mat-expansion-panel>

