@import 'src/theme/styles.scss';

mat-expansion-panel {
  margin-left: -5px;
  padding-left: 5px;
  margin-right: -10px;
  padding-right: 5px;

  .mat-expansion-panel-body {
    padding: 0 10px;
  }
}

.mat-expansion-panel-header {
  padding: 0px 65px 0px 0px;

  .mat-expansion-indicator::after {
    padding-bottom: 5px;
  }
}

.training-exercise-title {
  display: flex;

  span {
    @extend .text-bold;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.exercise-buttons {
  position: absolute;
  right: 0px;
  top: 2px;
  z-index: 1;
}

.selected {
  background-color: var(--ion-color-selected) !important;

  ion-icon {
    color: white;
  }
}

.rep-infos{
  & .header, & .add-rep input{
    @extend .caption;
  }

  & .header, & .infos, & .add-rep{
    display: inline-flex;
    color: var(--ion-color-primary-text) !important;

    div {
      width: 50px;
    }
  }
}
